<!DOCTYPE html>
<html>
    <head>
        
        
    </head>
    <body>
        
        <p>
            Vous avez reçu une demande d'infos de <%= "#{@name}, #{@email}"%> .
            
        </p>
        
        <p>
            <%= "#{@body}"%>
            
        </p>
    </body>
    
</html>
